# Node
node_modules/

# Entorno
.env
.env.local

# Build / salida
dist/
.pio

# IDE
.vscode/

# Python
__pycache__/
*.pyc

# Temporales
*.log
error.txt

# Versión anterior
Desarrollo_tecnico/Software/Archivo/

# OS
Thumbs.db
.DS_Store
